@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.header {
    display: flex;
    
    padding: 10px 24px;
    justify-content: space-between;
    align-items: center;
}

.header-logo-container {
    display: flex;
    align-items: center;
}

.header-logo-container img {
    width: 40px;
    height: 40px;
    margin-right: 11px;
}
.btn-sec{
width: Hug (110px);
height: Hug (49px);
padding: 18px, 22px,18px, 22px;
border-radius: 8px;
border: 1px;
gap: 10px;
margin-right: -450px;
}
.btn-prim{
 width: Hug (116px);
height: Hug (49px);
padding: 18px, 22px, 18px, 22px;
border-radius: 8px;
border: 1px;
gap: 10px;
color: white;
background-color: #425DF8;
}
.header-navigation-menu ul {
    display: flex;
    gap: 35px;
    text-align: center;  
   
}

.header-navigation-menu a {
    color:black;
    font-size: 18px;
    text-decoration: none;

}
.header-navigation-menu a.active {
        color:  #425DF8;
        cursor: default;
}

h1{font-family: Cabin;
    font-size: 64px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;  
    margin-top: 50px;
}
h6{
    font-family: Cabin;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color:  #7F828A;
    margin-top: 40px;
}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: flex-end;
    margin-top: 40px;
}
.user-card {
    display: flex;
    flex-wrap: wrap;
    width: 377px;
    height: 789px;
    padding: 56px;
    border-radius: 24px;
    border: 1px;
    justify: space-between;
   background: #DADADA;
   
}
    
h3{
    font-family: Cabin;
    font-size: 30px;
    font-weight: 300;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;  
}
h2{
    font-family: Cabin;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color:  #7F828A;
}
.dolar{

    font-family: Cabin;
    font-size: 64px;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -0.04em;
    text-align: center;
}
.distributors{
font-family: Cabin;
font-size: 22px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: #7F828A;

}
.header-logo-2-container{
    display: flex;
    align-items: center;
  
}
ol{
font-family: Cabin;
font-size: 22px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
color: #7F828A;
padding-top: 16px;

}
.user-card.active{
 background-color:#161A34;
color: #F6FDFF;
width:  377px;
height:  817px;
padding: 56px;
border-radius: 24px;
border: 1px;
justify: space-between;

}
.Custom{
    font-family: Cabin;
font-size: 64px;
font-weight: 500;
line-height: 80px;
letter-spacing: -0.02em;
text-align: center;

}
.user-card.custom{
    display: flex;
    flex-wrap: wrap;
    width: 377px;
height: 789px;
padding: 56px;
border-radius: 24px;
border: 1px;
justify: space-between;
background:  #DADADA;
}
li{
    margin-top: 16px;
   
}
.top{
    margin-top: 28px;
}
.btn-outlined{
    width: Hug (156px);
    height: Hug (49px);
    padding: 18px, 22px, 18px, 22px;
    border-radius: 8px;
    border: 1px;
    gap: 10px;
    margin-top: 300px;
    text-align: center;
    color: #F6FDFF;
    background-color: #425DF8;
}
hr{
    margin-top: 100px;
}
.color{
    color: white;
}
.distributors-1{
    font-family: Cabin;
font-size: 22px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: center;
    color: white;
}
.top-1{
    margin-top: 28px;
    color:white;
}
.bottom{
    margin-left: 1270px;
}
